/* #services{
    margin-top: 350px;
} */
.services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}



.service {
    background: var(--bg-color);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--secondary-color);
    height: fit-content;
    transition: var(--transition);
}

.service:hover {
    cursor: default;
    scale: 1.02;
}

.service__head {
    background: var(--tertiary-color);
    padding: 2rem;
    transition: var(--transition);
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.service__head:hover {
    cursor: default;
}


.service__head h3 {
    color: var(--primary-color);
    font-size: 1rem;
    text-align: center;
}


.service__list {
    padding: 2rem;
}

.service__list li {
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service__list-icon {
    color: var(--primary-color);
    margin-top: 5px;
}

.service__list p {
    font-size: 0.9rem;
}

/* === MEDIA QUERIES (MEDIUM DEVICES) === */
@media screen and (max-width: 1024px) {
    .services__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
   .service{
    height: auto;
   }
}

/* === MEDIA QUERIES (SMALL DEVICES) === */
@media screen and (max-width: 600px) {
    #services {
        margin-top: 400px;
    }
    .services__container{
    grid-template-columns: 1fr;
    gap: 1.5rem;
   }
}